In [29]:
import numpy as np
import pandas as pd
import glob
import time

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer

from sklearn.decomposition import PCA

from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

User 2

In [2]:
path = r'C:\Users\DELL\Documents\Research\Mouse Dynamics\Dataset\user2\extracted' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

user2_df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
user2_df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
user2_df['label'] = 1

In [5]:
user2_df.head()

,0_angles_avg,0_angles_max,0_angles_min,0_angles_range,0_angles_std,0_timestamp_delta_avg,0_timestamp_delta_max,0_timestamp_delta_min,0_timestamp_delta_std,0_timestamp_range,...,0_x_cross,0_y_cross,0_x_avg,0_x_max,0_x_min,0_x_std,0_y_avg,0_y_max,0_y_min,0_y_std
0,0.375932,3.141593,-2.819842,5.961435,1.716353,0.008894,0.068,0.004,0.006320,0.836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.652641,3.141593,-3.113822,6.255415,2.416334,0.011144,0.207,0.006,0.022188,1.549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.864599,3.141593,-3.112189,6.253782,1.585547,0.016644,0.552,0.004,0.049485,3.229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.020713,3.141593,-3.058451,6.200044,1.826176,0.008588,0.024,0.003,0.002876,0.584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.880320,3.141593,-0.643501,3.785094,1.361805,0.010947,0.160,0.007,0.016897,1.456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
len(user2_df.index)

12255

User 4

In [7]:
path = r'C:\Users\DELL\Documents\Research\Mouse Dynamics\Dataset\user4\extracted' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

user4_df = pd.concat(li, axis=0, ignore_index=True)

In [8]:
user4_df.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
user4_df['label'] = 0

In [10]:
user4_df.head()

,0_angles_avg,0_angles_max,0_angles_min,0_angles_range,0_angles_std,0_timestamp_delta_avg,0_timestamp_delta_max,0_timestamp_delta_min,0_timestamp_delta_std,0_timestamp_range,...,0_x_cross,0_y_cross,0_x_avg,0_x_max,0_x_min,0_x_std,0_y_avg,0_y_max,0_y_min,0_y_std
0,0.526008,3.141593,-3.064821,6.206413,2.023960,0.013339,0.466,0.004,0.032697,5.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.057186,3.141593,-2.356194,5.497787,1.209327,0.043711,3.364,0.005,0.338945,4.240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.986518,3.141593,-2.944197,6.085790,1.910932,0.010346,0.119,0.005,0.014480,1.345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.281195,3.141593,-3.030935,6.172528,1.762196,0.016715,0.887,0.002,0.047410,26.326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.032363,3.141593,-3.096169,6.237762,1.646749,0.009777,0.119,0.005,0.012868,0.919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
len(user4_df.index)

7616

ML

In [37]:
df = pd.concat([user2_df, user4_df], axis=0, ignore_index=True)

In [38]:
# imp = SimpleImputer(missing_values='NaN', strategy='median')
# df = imp.fit_transform(df)

In [39]:
x_train, x_test, y_train, y_test = train_test_split(np.nan_to_num(df.loc[:, df.columns != 'label']), df['label'] ,test_size=0.2, random_state=42)

Logistic Regression

In [58]:
start = time.time() 

logistic_regression_classifier = LogisticRegression()
logistic_regression_classifier.fit(np.nan_to_num(x_train.astype(np.float32)) ,y_train)

end = time.time()
process = round(end-start,2)
print("Logistic Regression Classifier has fitted, this process took {} seconds".format(process))

Logistic Regression Classifier has fitted, this process took 0.09 seconds

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [59]:
logistic_regression_classifier.score(np.nan_to_num(x_test.astype(np.float32)), y_test)

0.3768553459119497

SVM

In [40]:
start = time.time() 

svm_classifier = SVC()
svm_classifier.fit(x_train,y_train)

end = time.time()
process = round(end-start,2)
print("Support Vector Machine Classifier has fitted, this process took {} seconds".format(process))

C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: overflow encountered in reduce
  arrmean = umr_sum(arr, axis, dtype, keepdims=True)

Support Vector Machine Classifier has fitted, this process took 29.79 seconds

In [41]:
svm_classifier.score(x_test,y_test)

C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

0.6231446540880503

Naive Bayes

In [42]:
start = time.time() 

naive_bayes_classifier = GaussianNB()
naive_bayes_classifier.fit(x_train, y_train)

end = time.time()
process = round(end-start,2)
print("Naive Bayes Classifier has fitted, this process took {} seconds".format(process))

Naive Bayes Classifier has fitted, this process took 0.03 seconds

C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\_methods.py:192: RuntimeWarning: overflow encountered in reduce
  arrmean = umr_sum(arr, axis, dtype, keepdims=True)
C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\_methods.py:160: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims)

In [43]:
naive_bayes_classifier.score(x_test,y_test)

C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\naive_bayes.py:456: RuntimeWarning: invalid value encountered in true_divide
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) /

0.3768553459119497

K Neighbours

In [51]:
start = time.time() 

k_neighbors_classifier = KNeighborsClassifier(n_neighbors=5)
k_neighbors_classifier.fit(x_train,y_train)

end = time.time()
process = round(end-start,2)
print("K Neighbors Classifier has fitted, this process took {} seconds".format(process))

C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

K Neighbors Classifier has fitted, this process took 0.73 seconds

In [52]:
k_neighbors_classifier.score(x_test,y_test)

C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\DELL\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

0.8744654088050314

Decision Trees

In [53]:
x_train

array([[-1.54255035,  3.14159265, -2.76434359, ...,  0.        ,
         0.        ,  0.        ],
       [-0.02440251,  0.        , -0.46364761, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.39817114,  3.14159265, -2.9996956 , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.22636602,  3.14159265, -3.10315006, ...,  0.        ,
         0.        ,  0.        ],
       [-0.04860676,  3.14159265, -2.65469342, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [54]:
start = time.time() 

decision_tree_classifier = DecisionTreeClassifier()
decision_tree_classifier.fit(np.nan_to_num(x_train.astype(np.float32)), y_train)

end = time.time()
process = round(end-start,2)
print("Decision Tree Classifier has fitted, this process took {} seconds".format(process))

Decision Tree Classifier has fitted, this process took 0.37 seconds

In [56]:
decision_tree_classifier.score(np.nan_to_num(x_test.astype(np.float32)),y_test)

0.9645283018867925